# 1. Group-By
The groupby function in Pandas is used to group data based on one or more columns. After grouping, you can apply aggregate functions (such as mean(), sum(), count(), etc.) to each group independently.

-> Grouping by Column:
Let's say you have a dataset of Pokémon, and you want to calculate the average Attack for each Type 1.

In [3]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')

In [4]:
grouped = df.groupby('Type 1')['Attack'].mean()

Type 1
Bug          70.971014
Dark         88.387097
Dragon      112.125000
Electric     69.090909
Fairy        61.529412
Fighting     96.777778
Fire         84.769231
Flying       78.750000
Ghost        73.781250
Grass        73.214286
Ground       95.750000
Ice          72.750000
Normal       73.469388
Poison       74.678571
Psychic      71.456140
Rock         92.863636
Steel        92.703704
Water        74.151786
Name: Attack, dtype: float64

Here, the groupby method groups the data by the Type 1 column, and then the mean() function is applied to calculate the average attack for each type.

# Merging and Joining DataFrames

Merging and joining are operations used to combine two or more DataFrames based on a common column or index. This is similar to SQL JOIN operations.

-> Merge Example:

You have two DataFrames: one with Pokémon names and their types, and another with Pokémon names and their stats. You can merge them based on the Name column.

In [5]:
# First DataFrame: Pokémon Name and Type
df1 = pd.DataFrame({
    'Name': ['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon', 'Charizard'],
    'Type 1': ['Grass', 'Grass', 'Grass', 'Fire', 'Fire', 'Fire']
})

# Second DataFrame: Pokémon Name and Stats
df2 = pd.DataFrame({
    'Name': ['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon', 'Charizard'],
    'Attack': [49, 62, 82, 52, 64, 84],
    'Defense': [49, 63, 83, 43, 58, 78]
})

# Merge the DataFrames based on 'Name'
merged_df = pd.merge(df1, df2, on='Name')

print(merged_df)

         Name Type 1  Attack  Defense
0   Bulbasaur  Grass      49       49
1     Ivysaur  Grass      62       63
2    Venusaur  Grass      82       83
3  Charmander   Fire      52       43
4  Charmeleon   Fire      64       58
5   Charizard   Fire      84       78

Merge Types:
- Inner Join (default): Includes only the rows with common values in the merging column(s).
- Left Join: Includes all rows from the left DataFrame, even if there's no match in the right DataFrame.
- Right Join: Includes all rows from the right DataFrame, even if there's no match in the left DataFrame.
- Outer Join: Includes all rows from both DataFrames, filling in NaN for non-matching rows.

# Concatenating DataFrames

Concatenating is used to combine DataFrames either vertically (row-wise) or horizontally (column-wise). This is useful when you have data in separate DataFrames that you want to combine.

-> Example: Concatenating Vertically (Row-wise)

Suppose you have two DataFrames with the same columns but different rows, and you want to stack them:

In [6]:
# DataFrame 1
df1 = pd.DataFrame({
    'Name': ['Bulbasaur', 'Ivysaur'],
    'Type 1': ['Grass', 'Grass'],
    'Attack': [49, 62],
    'Defense': [49, 63]
})

# DataFrame 2
df2 = pd.DataFrame({
    'Name': ['Charmander', 'Charmeleon'],
    'Type 1': ['Fire', 'Fire'],
    'Attack': [52, 64],
    'Defense': [43, 58]
})

# Concatenate vertically
concatenated_df = pd.concat([df1, df2], ignore_index=True)

print(concatenated_df)

         Name Type 1  Attack  Defense
0   Bulbasaur  Grass      49       49
1     Ivysaur  Grass      62       63
2  Charmander   Fire      52       43
3  Charmeleon   Fire      64       58

### Concatenating Horizontally (Column-wise)

In [7]:
# DataFrame 1
df1 = pd.DataFrame({
    'Name': ['Bulbasaur', 'Ivysaur', 'Venusaur'],
    'Type 1': ['Grass', 'Grass', 'Grass']
})

# DataFrame 2
df2 = pd.DataFrame({
    'Attack': [49, 62, 82],
    'Defense': [49, 63, 83]
})

# Concatenate horizontally
concatenated_df = pd.concat([df1, df2], axis=1)

print(concatenated_df)

        Name Type 1  Attack  Defense
0  Bulbasaur  Grass      49       49
1    Ivysaur  Grass      62       63
2   Venusaur  Grass      82       83